[submodule "sketches/catena4612-pulse-generic"]
	path = sketches/catena4612-pulse-generic
	url = git@gitlab-x.mcci.com:mcci/hardware/catena/catena4612/firmware/catena4612-pulse-generic.git
[submodule "libraries/Catena-Arduino-Platform"]
	path = libraries/Catena-Arduino-Platform
	url = https://github.com/mcci-catena/Catena-Arduino-Platform.git
[submodule "libraries/arduino-lorawan"]
	path = libraries/arduino-lorawan
	url = https://github.com/mcci-catena/arduino-lorawan.git
[submodule "libraries/Catena-mcciadk"]
	path = libraries/Catena-mcciadk
	url = https://github.com/mcci-catena/Catena-mcciadk.git
[submodule "libraries/arduino-lmic"]
	path = libraries/arduino-lmic
	url = https://github.com/mcci-catena/arduino-lmic.git
[submodule "libraries/Adafruit_BME280_Library"]
	path = libraries/Adafruit_BME280_Library
	url = https://github.com/mcci-catena/Adafruit_BME280_Library.git
[submodule "libraries/Adafruit_Sensor"]
	path = libraries/Adafruit_Sensor
	url = https://github.com/mcci-catena/Adafruit_Sensor.git
[submodule "libraries/MCCI_FRAM_I2C"]
	path = libraries/MCCI_FRAM_I2C
	url = https://github.com/mcci-catena/MCCI_FRAM_I2C.git
[submodule "extra/Arduino_Core_STM32"]
	path = extra/Arduino_Core_STM32
	url = https://github.com/mcci-catena/Arduino_Core_STM32.git
[submodule "extra/bootloader"]
	path = extra/bootloader
	url = https://github.com/mcci-catena/bootloader.git
[submodule "extra/dfu-util"]
	path = extra/dfu-util
	url = git@gitlab-x.mcci.com:vendor/dfu-util/dfu-util.git
[submodule "extra/tools-build-with-cli"]
	path = extra/tools-build-with-cli
	url = git@github.com:mcci-catena/tools-build-with-cli.git
[submodule "sketches/model4910-outdoor-sap-flow"]
	path = sketches/model4910-outdoor-sap-flow
	url = git@github.com:mcci-catena/model4910-outdoor-sap-flow.git
[submodule "libraries/MCCI-Catena-SHT3x"]
	path = libraries/MCCI-Catena-SHT3x
	url = git@github.com:mcci-catena/MCCI-Catena-SHT3x.git
[submodule "libraries/mcci_ltr_329als"]
	path = libraries/mcci_ltr_329als
	url = git@github.com:mcci-catena/mcci_ltr_329als.git
